
requests
python-dotenv
pandas
numpy
mysql-connector-python
SQLAlchemy
prophet
statsmodels
scikit-learn
matplotlib
seaborn
plotly
streamlit
python-dateutil
schedule
yfinance
dash
schedule 